/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* css reset ends */

/* root properties */
:root {
  font-size: 62.5%;

  --darkblue: #0e173c;
  --white: #ffffff;

  /*
    We are setting font size to 62.5% because this will be qqual to 10px
    And we can easily calculate rem values using this.
    The calcuation becomes 1 rem = 10 px  
    https://stackoverflow.com/questions/47923397/css-fonts-rem-trick-62-5-or-6-25
  */
  background: var(--darkblue);
}

/* box-sizing to ensure that we can do box model calculations easily */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Base css*/

body {
  font-family: 'Muli', sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  color: var(--white);
}

h1 {
  margin-top: 2rem;
  font-size: 3rem;
 
}

h2 {
  font-size: 4.2rem;
}

a {
  text-decoration: none;
  color: var(--white);
}

img {
  display: block;
  width: 100%;
}


.navigation-bar {
  width: 100%;  /* i'm assuming full width */
  height: 80px; /* change it to desired width */
}
.logo {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  height: 40px;
  margin-right: 50%;
  margin-top: 15px;    /* if you want it vertically middle of the navbar. */
}

@media (max-width: 75em) {
  .logo {
    margin-right: 10%;
  } 
}

.navigation-bar > a {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  height: 80px;        /* if you want it to take the full height of the bar */
  line-height: 80px;    /* if you want it vertically middle of the navbar */
}


.navigation-bar > a:hover {
  color: #0755b5; /* if you want it vertically middle of the navbar */
}


/* Welcome section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  
}

.welcome-section h2 {
  font-size: 3 rem;
}

.welcome-section p {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 3rem;
}

.welcome-section img {
  display: block;
  height: 20rem;
  width: 20rem;
  margin: 20px;
  border-radius: 50%;
}

.button {
  font-size: 2rem;
  display: block;
  margin: 30px;
  padding: 6px;
  background: #2783f3;
  color: #fff;
  border: 1px solid #2783f3;
  border-radius: 3px;
}

.welcome-section a:hover {
  background: #0755b5;
}

/* features section */

.features-section {
  text-align: center;
  padding: 10rem 2rem;
}

.features-section-header {
  margin: 0 auto 6rem auto;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 6rem;
  width: 100%;
  margin-bottom: 6rem;
}

.project {
  border: 1px solid;
}

.project:hover {
  color: var(--white);
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

/* Contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 30vh;
  padding: 0 2rem;
}

.contact-links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 4rem;
  margin-top: 4rem;
}

.contact-details:hover {
  text-decoration: underline;
}

/* Footer */

footer {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
}

footer p {
  margin: 1rem;
}

/*Media Queries for smaller screens*/

/* for <1200px breakpoint */

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
  h1 {
    font-size: 4rem;
  }
  .contact-links {
    flex-direction: column;
  }
}


.googleCalendar{
  position: relative;
  height: 60%;
  width: 60%;
}

.googleCalendar iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}








